.heart2{
  width: 30px;
  height: 30px;
  filter: brightness(5);
}

.heart-on {
  width: 30px;
  height: 30px;
  filter: brightness(1);
}

.like {
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  /* background-color: #fdd; */
  background-color: lightpink;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.heart {
  width: 100px;  /* 正方形を作る */
  height: 100px; /* 正方形を作る */
  position: relative;/* 基準位置とする */
}
.heart::before,
.heart::after {
  content: "";  /* 疑似要素に必須 */
  width: 50%;   /* ハートの丸い部分の大きさにかかわる */
  height: 80%;  /* ハートの高さにかかわる */
  background: #E0548E; /* ハートの色 */
  border-radius: 25px 25px 0 0; /* ハートの半円を生成 */
  display: block; /* ブロック要素にする */
  position: absolute; /* 相対位置に指定 */
}
.heart::before {
  transform: rotate(-45deg); /* 左に回転 */
  left: 14%;                 /* 左からの位置を指定 */
}
.heart::after {
  transform: rotate(45deg);  /* 右に回転 */
  right: 14%;                /* 右からの位置を指定 */
}

